section.block.composition.back-block
    .container
        h2.title#composition Уникальная формула Product помогает&nbsp;бросить курить навсегда
        p.subtitle Капли лучше усваиваются через слизистую, поэтому эффект заметен быстрее, 
            nobr чем у аналогов

        .composition__img
            img.composition__img--bg(src="img/white-bg.png", alt="bg")
            img.composition__img--bottle(src="img/consist-bottle.png", alt="bottle")
            img.composition__img--medal(src="img/medal.png", alt="medal")

        .composition__elements

            .composition__element.composition__element--1.active
                img.arrow(src="img/grey-arrow.png", alt="arrow")
                .composition__element--img
                    img(src="img/consist1.png", alt="composition")
                h3.composition__element--title Горец змеиный
                p.composition__element--text-first Способствует появлению 
                    br 
                    | безразличия к&nbsp;табачному дыму...
                p.composition__element--text Способствует появлению 
                    br
                    | безразличия к&nbsp;табачному дыму и&nbsp;табачным изделиям
                button.composition__element--btn +

            .composition__element.composition__element--2
                img.arrow(src="img/grey-arrow.png", alt="arrow")
                .composition__element--img
                    img(src="img/consist2.png", alt="composition")
                h3.composition__element--title Имбирь
                p.composition__element--text-first Восстанавливает организм...
                p.composition__element--text Восстанавливает организм и&nbsp;сердечно-сосудистую систему, от&nbsp;пагубного воздействия никотина
                button.composition__element--btn +

            .composition__element.composition__element--3
                img.arrow(src="img/grey-arrow.png", alt="arrow")
                .composition__element--img
                    img(src="img/consist3.png", alt="composition")
                h3.composition__element--title Овёс посевной
                p.composition__element--text-first Снижает тягу к никотину...
                p.composition__element--text Снижает тягу к никотину, успокаивает нервы, снимает стресс, расслабляет 
                    nobr и избавляет 
                    nobr от никотиновой 
                    | ломки
                button.composition__element--btn +

