section.efficiency.block.bg-block
   .container
      h2.efficiency__title.title Статистика наших клиентов 
         br 
         | после&nbsp;использования 
         span.highlight Product
      ul.efficiency__stats.efficiency-stats
         li.efficiency-stats__stat
            .efficiency-stats__content
               .efficiency-stats__num 99%
               p.efficiency-stats__descr избавились от головной и&nbsp;болей в&nbsp;груди, отеков и&nbsp;потливости, вернули четкость зрения
         li.efficiency-stats__stat.efficiency-stats__stat--center
            .efficiency-stats__content
               .efficiency-stats__num 91%
               p.efficiency-stats__descr 
                  | за 1 курс забыли о&nbsp;проблемах с&nbsp;давлением
         li.efficiency-stats__stat
            .efficiency-stats__content
               .efficiency-stats__num 97%
               p.efficiency-stats__descr рецидив не проявился после прекращения приема
      small.efficiency__footnote 
         span.highlight *
         | Результаты могут варьироваться в&nbsp;зависимости от&nbsp;стадии заболевания