section.reviews-block.block
    .container
        h2.title О нашем товаре в&nbsp;соцсетях
        .reviews
            .rev
                img.rev_ava(src="img/ava1.png", alt="avatar")
                .rev_comment
                    .rev_text
                        span.rev_name Женщина 
                        p.rev_message Пользуюсь такими наколенниками уже полгода, очень удобно! Могу теперь гулять с собакой на любые расстояния. Раньше и 200 метров сложно было пройти.

                        .all_likes
                            img(src="img/like-fb2.png", alt="like")
                            span 12
                    .like Нравится
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .reply Ответить
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .time 1 дн.
            .rev
                img.rev_ava(src="img/ava2.png", alt="avatar")
                .rev_comment
                    .rev_text
                        span.rev_name Мужчина 
                        p.rev_message Купил для велоспорта, с возрастом стали болеть колени, сейчас участвую в соревнованиях и&nbsp;всегда призовые места!
                        .all_likes
                            img(src="img/like-fb3.png", alt="like")
                            span 27
                    .like Нравится
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .reply Ответить
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .time 2 дн.
            .rev
                img.rev_ava(src="img/ava3.png", alt="avatar")
                .rev_comment
                    .rev_text
                        span.rev_name Мужчина
                        p.rev_message Работаю грузчиком, постоянно приседаю, в течение дня, много хожу. Думал уже к врачу идти, так колени болели. Друг посоветовал эти наколенники. Нагрузку снимают отлично, я доволен.
                        .all_likes
                            img(src="img/like-fb.png", alt="like")
                            span 21
                    .like Нравится
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .reply Ответить
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .time 4 дн.
            .rev
                img.rev_ava(src="img/ava4.png", alt="avatar")
                .rev_comment
                    .rev_text
                        span.rev_name Женщина
                        p.rev_message Какая интересная вещь, давно искала что-то подобное, профессионально занимаюсь горнолыжным спортом. Мне такие точно нужны, закажу себе.
                        .all_likes
                            img(src="img/like-fb.png", alt="like")
                            span 17
                    .like Нравится
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .reply Ответить
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .time 5 дн.
            .rev
                img.rev_ava(src="img/ava5.png", alt="avatar")
                .rev_comment
                    .rev_text
                        span.rev_name Женщина
                        p.rev_message Купила маме, у нее стали сильно болеть ноги - остеоартроз, ей 68 лет. Сейчас она стала намного активнее. Не ожидали, что наколенники так помогут. Хорошее качество, рекомендую.

                        .all_likes
                            img(src="img/like-fb2.png", alt="like")
                            span 15
                    .like Нравится
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .reply Ответить
                    .dot &nbsp;&nbsp;&#183;&nbsp;&nbsp;
                    .time 7 дн.