section.slider2.block
    .container
        .slider-second
            .sl2-slide.gray
                img(src="img/sl2_11.jpg", alt="slider")
                .descr
                    span ДО
                    .line-w
                    p Много работаете в огороде и приседания доставляют дискомфорт
            .sl2-slide.green
                img(src="img/sl2_12.jpg", alt="slider")
                .descr
                    span ПОСЛЕ
                    .line-w
                    p Занимайтесь любимым делом без&nbsp;боли
            .sl2-slide.gray
                img(src="img/sl2_21.jpg", alt="slider")
                .descr
                    span ДО
                    .line-w
                    p Лестница кажется вам чем-то мучительным
            .sl2-slide.green
                img(src="img/sl2_22.jpg", alt="slider")
                .descr
                    span ПОСЛЕ
                    .line-w
                    p Больше это не проблема
            .sl2-slide.gray
                img(src="img/sl2_31.jpg", alt="slider")
                .descr
                    span ДО
                    .line-w
                    p При прогулках испытываете боль в&nbsp;коленях
            .sl2-slide.green
                img(src="img/sl2_32.jpg", alt="slider")
                .descr
                    span ПОСЛЕ
                    .line-w
                    p Нагрузка снята, колени больше вас не будут беспокоить
            .sl2-slide.gray
                img(src="img/sl2_41.jpg", alt="slider")
                .descr
                    span ДО
                    .line-w
                    p Тяжелые мешки вам не по плечу
            .sl2-slide.green
                img(src="img/sl2_42.jpg", alt="slider")
                .descr
                    span ПОСЛЕ
                    .line-w
                    p Наколенники забирают до 40кг нагрузки на&nbsp;себя
            .sl2-slide.gray
                img(src="img/sl2_51.jpg", alt="slider")
                .descr
                    span ДО
                    .line-w
                    p Спорт становится для вас обузой, а&nbsp;не&nbsp;радостью
            .sl2-slide.green
                img(src="img/sl2_52.jpg", alt="slider")
                .descr
                    span ПОСЛЕ
                    .line-w
                    p Наколенники вернут вам счастье со спортом
