section.bg-block.block.post
    .container
        h2.title Мы доставляем тысячи товаров в&nbsp;день
        
        .post__wrap
            img.img1(src="img/post1.png", alt="post")
            img.img2(src="img/post2.png", alt="post")
            img.img3(src="img/post3.png", alt="post")

        .post__medals
            .medal-wrap
                img(src="img/medal1.png", alt="medal")
            .line
            .medal-wrap
                img(src="img/natural.png", alt="medal")
            .line
            .medal-wrap
                img(src="img/blue-medal.png", alt="medal")