section.block.how.back-block
   .container
      h2.title.how__title Как принимать Product
      .how__row
         .how__left
            img.how__img.how__img-pack(src="img/pack.png" alt="Табофрил")
            img.how__img.how__img-medal(src="img/medal.png" alt="Знак качества XXI Века")
            img.how__img.how__img-certificate(src="img/cert-pack.jpg" alt="Сертификат")
         .how__center
            img.how__img.how__img-arrow(src="img/arrow-right.png" alt="")
         .how__right
            ul.how-instruction
               li.how-instruction__step
                  .how-instruction__img-wrap.how-instruction__img-wrap-1(data-drop="10")
                     img.how-instruction__img(src="img/usage1.png" alt="")
                  .how-instruction__content
                     .how-instruction__title Принимать по 
                        span.text-nowrap 10 капель 
                     .how-instruction__text 3 - 4 раза в день за 
                        span.text-nowrap 30 минут 
                        span.text-nowrap до еды
               li.how-instruction__step.how-instruction__step-2
                  .how-instruction__img-wrap.how-instruction__img-wrap-2(data-drop="15")
                     img.how-instruction__img(src="img/usage2.png" alt="")
                  .how-instruction__content
                     .how-instruction__title Принимать до 
                        span.text-nowrap 15 капель 
                     .how-instruction__text 5 - 6 раз в день начиная 
                        span.text-nowrap с 10-го дня
               li.how-instruction__step.how-instruction__step-3
                  .how-instruction__img-wrap
                     img.how-instruction__img(src="img/usage3.png" alt="")
                  .how-instruction__content
                     .how-instruction__title Рекомендованный курс 
                     .how-instruction__text от 30 дней