section.block.code.white-block
    .container
        h2.title Внимание!
            br
            span.red-text Остерегайтесь подделок!
        .code__wrap 
            .code__left
                p.code__left--subtitle Настоящий Product можно заказать только на&nbsp;официальном&nbsp;сайте.
                .code__img
                    img.code__img--pack.hide1(src="img/pack.png", alt="product")
                    img.code__img--check(src="img/code.png", alt="code")
                p.code__left--headline Отправьте DAT-код по&nbsp;СМС на&nbsp;номер 3888, в&nbsp;ответ получите информацию о&nbsp;подлинности товара.
                .code__left--info 
                    p.grey Проверьте, что&nbsp;услуга отправки смс на&nbsp;короткий номер не&nbsp;отключена. Бесплатные СМС на&nbsp;номер 3888 подключены в&nbsp;РФ, Армении и&nbsp;Беларуси.
                    p.black 
                        span.underline Только первая проверка 
                        | подтверждает подлинность. 
                        br
                        | Только для товаров, защищенных Системой DAT.


            