section.block.order.back-block
    .container
        h2.title Как заказать доставку Product
        .order__wrap
            .order__el.order__el--1
                .order__el--number 1
                .order__el--img 
                    img(src="img/order1.png", alt="order")
                .order__el--title Заполните форму заказа  
                .order__el--descr Укажите имя и номер телефона

            .arrows 
                include ../svg/arrow1.html
                include ../svg/arrow2.html
                include ../svg/arrow3.html 
            .order__el.order__el--2
                .order__el--number 2
                .order__el--img 
                    img(src="img/order2.png", alt="order")
                .order__el--title Примите звонок оператора 
                .order__el--descr Специалист проконсультирует и&nbsp;уточнит адресные&nbsp;данные 


            .arrows 
                include ../svg/arrow1.html
                include ../svg/arrow2.html
                include ../svg/arrow3.html
            .order__el.order__el--3
                .order__el--number 3
                .order__el--img 
                    img(src="img/order3.png", alt="order")
                .order__el--title Оплатите после получения
                .order__el--descr Предоплата не требуется
